<footer>
    <div class="footer-content">
        <img src="assets/DH_CGL_logos_final_white_full_color.png" alt="Daggerheart compatible" height="75" />
        <p>
            This product includes materials from the Daggerheart System Reference Document 1.0, © Critical Role, LLC.
            under the terms of the Darrington Press Community Gaming (DPCGL) License.<br />More information can be found
            at
            <a href="https://www.daggerheart.com" target="_blank" rel="noopener noreferrer">www.daggerheart.com</a>.
            There
            are no previous modifications by others.
        </p>
    </div>
</footer>